@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="home-main-card">
    <h1 class="display-4">Welcome to MegaDesk </h1>
    <p>Click on the Desk to continue!</p>
    <a href="/DeskQuotes"><img src="~/img/Student_Desk_sprite_001.png" width="500" alt="animated picture of a table"/></a>
</div>